div{

  background-color: #FFB6C1;
}

@font-face {
	font-family: "spaceInvaders";
	src: url("/static/fonts/space_invaders.woff") format("woff"),
		 url("/static/fonts/space_invaders.eot") format("embedded-opentype"),
		 url("/static/fonts/space_invaders.woff") format("truetype");
	font-weight: normal;
}


/* Navbar stuffs */

body {
	background-image: url("/static/img/8bit.jpg");
	background-repeat: round;
	color : #ffdf00 ;
}

.navbar-dark .navbar-brand {
	color : #ffdf00 ;
}

.navbar-dark .navbar-nav .nav-link {
	color : #ffdf00 ;
}

navbar-button {
	margin: 10px;
	line-height: match-parent;
}
nav.navbar-neamtime {
	margin: 0 auto;
	background-color: #0a192c !important;

	}

h3 {transform: skew(-200deg);}
